@font-face {
    font-family: 'celsius';
    src: url('src/fonts/Celsius\ Flower.ttf') format('truetype');
}

* {
    padding: 0px;
    margin: 0px;

    /*  */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 0.9rem;
}

/*NAV*/
nav {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;

    padding: 20px 30px;
}

nav button {
    position: relative;
    
    /*trec estils predefinits*/
    background: none;
    border-width: 0px;

    color: #4248a5;

    transition: transform 0.3s ease-in-out;
}

nav i {
    font-size: 20px;
}

nav button:hover {
    transform: scale(1.15);
}

nav button p {
    font-size: 0.7rem;
    position: absolute;

    /*centro text i el poso sota*/
    left: 50%;
    top: 100%;
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav button:hover p {
    opacity: 1;
    visibility: visible;
}



#titol {
    padding-left: 30px;
}

body{
    width: 100%;
    /*background-color: rgb(22, 39, 56);*/
    background-color: #f0f0e0;

    display: flex;
    flex-direction: column;

    justify-content: center;
}


h1, h2{
    font-family: 'celsius', sans-serif;
    letter-spacing: 1px;
    color: #4248a5;

    width: 100%;

}


main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content:center;

    margin-top: 30px;
    padding: 30px;

    gap:10px;

}

#j2, #j1 {
    display: flex;
    flex-direction: column;
    
}


.tauler_container {
    display: flex;
    max-width: 100%;

    font-size: 1rem;

    gap: 10px;
    padding: 20px;
}

.tauler {
    display: grid;
    border: 10px solid transparent;
    border-image: url('tu-imagen-de-borde.png') 30 stretch;

    grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    max-width: 100%;

    justify-content: left;


    margin-bottom: 10px;
}

/*INFO*/

.info_container{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


#botonsVaixells {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vaixell_container{
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;

    gap: 5px;
}

.vaixell_container button{
    width: 100%;
    padding-left: 10px;
    text-align: left;

    background-color:#ddddcf;
    border-width: 0px;
    border-radius: 5px;

    transition: transform 0.3s ease-in-out;
}

.vaixell_container button:hover {
    transform: scale(1.05);
    background-color:#f8f8e9;
}

.vaixell_icona {
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    color:#4248a5;
}

#botonsDireccions {
    display: flex;
    justify-content: center;
    gap:5px
}

/*CASELLA*/
.casella {
    width: 50px;
    height: 50px;

    border: 1px solid rgb(181, 223, 240);
    background-color: #4248a5;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.casella:hover {
    outline: 3px #4248a5 solid;

    /*per col·locar casella a dalt del tot*/
    position: relative;
    z-index: 5;
}

.seleccionat {
    background-color: rgb(0, 250, 167);
}

.aigua {
    background-color: rgb(105, 200, 255);
    background-image: url("mar.png");
    background-size: cover;
}

.vaixell {
    background-color: rgb(177, 177, 177);
}

.mascara {
    background-color: rgba(0, 0, 0, 0.322);
    width: 100%;
    height: 100%;
}


/*REND / PLANTILLA*/
.rendVaixell {
    width: auto;
    height: auto;
    
    background-color: rgba(177, 177, 177, 0.559);
    box-shadow: -10px -10px 2px 1px rgba(4, 25, 128, 0.2);

    position: fixed;
    z-index: 10;

    display: flex;
    flex-direction:row;
}


/*Estils vaixells*/

.P{
    background-color: rgb(144, 191, 245);

}

.A {
    background-color: #de7a79;
}

.C {
    background-color: rgb(205, 248, 170);
}

.D {
    background-color: #f2dd8c;
}

.S {
    background-color: rgb(196, 144, 245);
}


/*BOTONS*/
#H_btn, #V_btn {
    width: 25px;
    height: 25px;

    text-align: center;
}

#reset_btn{
    height: 25px;
    padding: 0px 5px;
}


#jugar_btn {
    background-color:#4248a5;
    color: whitesmoke;

    height: 25px;

    padding: 0px 10px;
    border-radius: 5px;

    transition: transform 0.3s ease-in-out;
}

#jugar_btn:hover {
    transform: scale(1.05);
}

#atacar_btn {
    
    background-color:#4248a5;
    color: whitesmoke;
    border-radius: 5px;

    height: 40px;

    transition: transform 0.3s ease-in-out;
}

#atacar_btn:hover {
    transform: scale(1.05);
}

#reset_btn:hover, #atacar_btn:hover{

    background-color:#4249a5ad;
    color: whitesmoke;
}
